body,
html {
  width: 100%;
  height: 100%;
}
.nav {
    
    display: flex;
    justify-content: flex-end;
    padding-top: 2px;
}

.logo {
    width: 90px;
    padding-bottom: 9px;
    border-radius: 50%;
    transition: all 2s;
    cursor: auto;
     transform: translate(-500px,250px);

        
    }
/*Responsive logo*/

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .logo {
        transform: translate(-200px,0);

  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

hr {
  max-width: 65px;
  border-width: 3px;
  border-color: #F05F44;
}

.faded {
  color: rgba(255, 255, 255, 0.8);
    padding-bottom: 2px;

}

.final {
  display: flex;
  justify-content: center;
}

header.startup {
  background-position: center;
  background-image: url("headerr.jpeg");
  background-size: cover;
  height: 100%;
}

header.startup hr {
  margin-top: 300px;
  margin-bottom: 50px;
}

header.startup h1 {
  font-size: 2rem;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: rgb(202, 186, 183);
  border-color: rgb(212, 188, 226);
  z-index: 9;
}


.btn-primary:hover {
  background-color: #161516;
  border-color: #312727;
  border-width: 5px;
  cursor: pointer;
}
